/* productList.css */
.productListContainer {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-left: 1px solid rgba(0, 0, 0, 0.158);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 100px ;
  padding-inline: 20px;
}

#productListHeading {
  font: 400 2rem "Roboto";
  padding: 0.5vmax;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.637);
  transition: all 0.3s;
  margin: 2rem;
  text-align: center;
}

.productListTable {
  background-color: white;
  border: none !important;
}

.productListTable div {
  font: 300 1vmax "Roboto";
  color: rgba(0, 0, 0, 0.678);
  border: none !important;
}

.productListTable a,
.productListTable button {
  color: rgba(0, 0, 0, 0.527);
  transition: all 0.5s;
}

.productListTable a:hover {
  color: tomato;
}

.productListTable button:hover {
  color: rgb(236, 30, 30);
}

.MuiDataGrid-columnHeader div {
  color: rgb(255, 255, 255);
}

.MuiDataGrid-columnHeaders {
  background-color: tomato;
}

.MuiDataGrid-iconSeparator {
  display: none !important;
}

.MuiDataGrid-menuIcon {
  color: white !important;
}

.MuiDataGrid-sortIcon {
  color: white !important;
}

.MuiDataGrid-cell {
  padding: 1vmax !important;
}

.MuiDataGrid-row {
  transition: all 0.3s;
}

.MuiDataGrid-row:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

@media screen and (max-width: 600px) {
  .productListTable div {
    font: 300 4vw "Roboto";
  }
}