.submit-button {
  background-color: tomato !important;
  color: #fff !important;
  padding: 0.8rem !important;
  font-size: 1rem !important;
  border-radius: 6px !important;
  text-transform: none !important;
  font-weight: 500 !important;
  transition: background 0.3s ease;
}


